.contentTitle {
    text-align: center;
    font-size: 30px;
    margin-top: 2rem;
}

.contentArea {
    border: solid 1px black;
    height: 50vh;
    width: 40vw;
    /* margin-left: 10%; */
    /* font-size: 20px; */
}