#toDoListArea {
    /* flex-grow: 1; */
    /* padding: auto; */
    /* width: 50vw; */
    align-items: center;
}

#addToDoList {
    width: 40%;
    height: 5%;
    font-size: 20px;
    /* margin-left: 10%; */
    margin-right: 2%;
}

#addToDoListBtn {
    height: 5%;
    font-size: 20px;
}

.oneToDoList {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 23px;
}

.toDoListCheckbox {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 10px;
}