#doneArea {
    /* flex-grow: 1.5; */
    /* margin-left: 5%; */
    width: 50vw;
}

#addDoneList {
    width: 40%;
    height: 5%;
    font-size: 20px;
    /* margin-left: 10%; */
    margin-right: 2%;
}

#addDoneListBtn {
    height: 5%;
    font-size: 20px;
}

.oneDoneList {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 23px;
}

.doneListCheckbox {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 10px;
}